@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --light-grey: #F0F0F0;
    --medium-grey: #E0E0E0;
    --dark-grey: #3A3A3A;
    --text-color-light: #FFFFFF;
    --text-color-dark: #000000;
    --button-hover: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-grey);
    color: var(--text-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: var(--dark-grey);
    color: var(--text-color-light);
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-container {
    background-color: var(--medium-grey);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 100px;
}

.form-container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 8px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--dark-grey);
}

.btn {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 0.4em;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background: var(--button-hover);
}

.btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

p {
    font-size: 0.9rem;
    margin-top: 15px;
}

p a {
    color: blue;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
